<!DOCTYPE html>
<html lang="en" th:replace="user/base::baseLayout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div
        th:if="${session.message}"
        class="alert alert-dismissible fade show text-center"
        role="alert"
        th:classappend="${session.message.type}"
      >
        <h2 th:text="${session.message.content}"></h2>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <th:block th:text="${#session.removeAttribute('message')}"></th:block>
      <div
        class="container d-flex justify-content- center align-items-center"
        style="height: 90vh"
      >
        <div class="card my-card" style="width: 30rem">
          <div class="container text-center">
            <img class="card-img-top" src="..." alt="Card image cap" />
          </div>
          <div class="card-body">
            <ul>
              <li th:text="${user.userName}"></li>
              <li th:text="${user.userEmail}"></li>
              
            </ul>
        </div>
      </div>
    </section>
  </body>
</html>
