<!DOCTYPE html>
<html lang="en" th:replace="user/base::baseLayout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section>
      <div class="card mt-5" style="border-radius: 20px">
        <div class="card-body">
          <h1 class="text-center">Your Contact List</h1>

          <div class="search-container mt-2">
            <input
              onkeyup="search()"
              id="search-input"
              type="text"
              class="form-control"
              placeholder="Search your contacts"
            />
            <div class="search-result"></div>
          </div>
          <table
            class="table mt-4"
            th:if="${contact_list.getTotalElements()>0}"
          >
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each=" e: ${contact_list}">
                <td th:text="${e.contactName}"></td>
                <td th:text="${e.contactPhoneNumber}"></td>
                <td th:text="${e.contactEmail}"></td>
                <td>
                  <a th:href="@{/user/update/}+${e.contactId}">
                    <i
                      class="fa-solid fa-pen-to-square"
                      style="font-size: 20px"
                    >
                    </i>
                  </a>

                  <!-- th:attr="onclick=${'deleteContact('''+e.contactId+''')'}" -->
                  <a th:onclick="|deleteContact(${e.contactId})|"
                    ><i
                      class="fa-solid fa-trash"
                      style="font-size: 20px; margin: 0px 5px"
                    ></i
                  ></a>

                  <!-- th:attr="onclick=${'getSingleContact('''+e.contactId+''')'}" -->
                  <a
                    th:onclick="|getSingleContact(${e.contactId})|"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    ><i class="fa-solid fa-eye" style="font-size: 20px"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>

          <h2
            th:unless="${contact_list.getTotalElements()>0}"
            class="text-center"
          >
            No Contact Found
          </h2>
          <!--pagination part-->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li th:if="${currentPage !=0}" class="page-item">
                <a class="page-link" th:href="@{/user/view/}+${currentPage-1}"
                  >Previous</a
                >
              </li>
              <li
                th:classappend="${currentPage == i-1 ? 'active': ''}"
                class="page-item"
                th:each=" i : ${#numbers.sequence(1,totalPages)}"
              >
                <a
                  class="page-link"
                  th:href="@{/user/view/}+${i-1}"
                  th:text="${i}"
                ></a>
              </li>
              <li th:if="${currentPage != totalPages-1}" class="page-item">
                <a class="page-link" th:href="@{/user/view/}+${currentPage+1}"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Picture</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="loader">
                <i
                  class="fa-solid fa-rotate fa-spin"
                  style="font-size: 20px"
                ></i>
              </div>

              <div class="container text-center">
                <img
                  id="image"
                  class="rounded"
                  alt="image.."
                  style="width: 200px; height: 200px; border-radius: 10px"
                />
                <!-- <h3 id="contact-name"></h3>
                <h3 id="contact-email"></h3>
                <h3 id="contact-niceName"></h3>
                <h3 id="contact-work"></h3>
                <h3 id="contact-phone"></h3>
                <h3 id="contact-alt-phone"></h3>
                <h3 id="contact-des"></h3> -->
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
