.bg-primary {
  background: rgb(3, 41, 101) !important;
}

.text-color {
  color: rgb(3, 3, 3) !important;
}

#forgot-loading {
  visibility: hidden;
}

.navbar a {
  color: rgb(255, 255, 255) !important;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.my-card {
  border-radius: 20px;
  padding: 10px;
  width: 30%;
}

.banner {
  width: 100%;
  height: 92vh;
  background: linear-gradient(rgba(195, 202, 239, 0.7), rgba(59, 149, 190, 0.7)),
    url(../images/bg.webp);
  /* background-image: url(../images/bg.webp); */
  background-size: cover;
  color: rgb(54, 54, 96) !important;
}

.search-container {
  width: 50%;
  position: relative;
}
.search-result {
  width: 50%;
  position: absolute;
  background: white;
  width: 100%;
  padding: 10px;
  display: none;
  border: 1px solid gray;
}

.details {
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
