<!DOCTYPE html>
<html lang="en" th:replace="base::baseLayout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="banner">
      <div class="container d-flex justify-content-center">
        <div class="my-card mt-3">
          <div
            th:if="${session.message}"
            class="alert"
            th:classappend="${session.message.type}"
            role="alert"
          >
            <p th:text="${session.message.content}"></p>
            <th:block
              th:text="${#session.removeAttribute('message')}"
            ></th:block>
          </div>

          <div th:if="${param.error}" class="alert alert-danger">
            invalid email
          </div>

          <form class="form-signin mt-5" method="post" th:action="@{/send-otp}">
            <p>
              <label for="username" class="sr-only">Email</label>
              <input
                type="email"
                id="username"
                name="email"
                class="form-control"
                placeholder="Enter your registerd email"
                required
                autofocus
              />
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Send otp
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
