<!DOCTYPE html>
<html lang="en" th:replace="base::baseLayout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="login-box" style="border: 1px solid red">
        <div class="my-card mt-3">
          <div
            th:if="${session.message}"
            class="alert"
            th:classappend="${session.message.type}"
            role="alert"
          >
            <p th:text="${session.message.content}"></p>
            <th:block
              th:text="${#session.removeAttribute('message')}"
            ></th:block>
          </div>
          <!-- <div class="container text-center">
            <img th:src = @{/images/register.png} alt="" width="100px">
          </div> -->
          <!-- <h2 class="text-center">Login Here</h2> -->

          <div th:if="${param.error}" class="alert alert-danger">
            invalid username and password
          </div>

          <div th:if="${param.logout}" class="alert alert-success">
            You have been logout
          </div>

          <div th:if="${param.change}" class="alert alert-success">
            <th th:text="${param.change}"></th>
          </div>

          <form class="form-signin mt-5" method="post" th:action="@{/do_login}">
            <p>
              <label for="username" class="sr-only">Email</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Enter your email"
                required
                autofocus
              />
            </p>
            <p>
              <label for="password" class="sr-only">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required
              />
            </p>

            <p>
              <label for="password" class="sr-only">Forgot Password</label>
              <a href="" th:href="@{/forgot}">Forgot Password!</a>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
