<!DOCTYPE html>
<html lang="en" th:replace="base::baseLayout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="my-card mt-3">
              <div
                th:if="${session.message}"
                class="alert"
                th:classappend="${session.message.type}"
                role="alert"
              >
                <p th:text="${session.message.content}"></p>
                <th:block
                  th:text="${#session.removeAttribute('message')}"
                ></th:block>
              </div>
              <div class="container text-center">
                <img th:src = @{/images/register.png} alt="" width="100px">
              </div>
              <h2 class="text-center">Register Here</h2>
              <form
                th:action="@{/do_register}"
                method="post"
                th:object="${user}"
              >
                <div class="form-group">
                  <label for="userName">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' : ''}"
                    name="userName"
                    th:value="${user.userName}"
                    id="userName"
                    placeholder="Enter your name"
                  />
                  <div
                    th:each=" e : ${#fields.errors('userName')}"
                    class="invalid-feedback text-center"
                    th:text="${e}"
                  ></div>
                </div>

                <div class="form-group">
                  <label for="userEmail">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('userEmail') ? 'is-invalid' : ''}"
                    name="userEmail"
                    id="userEmail"
                    th:value="${user.userEmail}"
                    placeholder="Enter email"
                  />
                  <div
                    th:each=" e : ${#fields.errors('userEmail')}"
                    class="invalid-feedback text-center"
                    th:text="${e}"
                  ></div>
                </div>
                <div class="form-group">
                  <label for="userPassword">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('userPassword') ? 'is-invalid' : ''}"
                    name="userPassword"
                    id="userPassword"
                    placeholder="Enter password "
                  />
                  <div
                    th:each=" e : ${#fields.errors('userPassword')}"
                    class="text-center invalid-feedback"
                    th:text="${e}"
                  ></div>
                </div>

                <div class="form-group">
                  <textarea
                    name="userAbout"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('userAbout') ? 'is-invalid':''}"
                    th:text="${user.userAbout}"
                    placeholder="Enter something about yourself"
                  ></textarea>
                  <div
                    th:each=" e : ${#fields.errors('userAbout')}"
                    class="invalid-feedback text-center"
                    th:text="${e}"
                  ></div>
                </div>
                <div class="form-group form-check text-center">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    th:classappend="${#fields.hasErrors('termAndCondition') ? 'is-invalid' : ''}"
                    name="termAndCondition"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Accept Terms and Condition</label
                  >
                </div>
                <div class="container text-center">
                  <button
                    type="submit"
                    class="btn bg-primary text-white font-weight-bold"
                  >
                    Submit
                  </button>
                  <button
                    type="reset"
                    class="btn bg-primary text-white font-weight-bold"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
